.cont {
    height: 250px;
    width: 250px;
    border: 1px solid grey;
    object-fit: contain;
    margin: 0 auto;
    margin-left: 5px;
    display: inline-block;
    position: relative;
}

.g-item {
    object-fit: contain;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 248px;
    width: auto;
    max-width: 248px;
}

.vid {
    object-fit: contain;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 248px;
    width: auto;
    max-width: 248px;
}

.g-item.img-fluid {
    max-height: 248px !important;
}

@media screen and (max-width: 640px) {
    .cont {
        height: 42vw;
        width: 42vw;
        border: 1px solid grey;
        object-fit: contain;
        margin: 0 auto;
        margin-left: 5px;
        display: inline-block;
        position: relative;
    }

    .g-item {
        object-fit: contain;
        margin: 0 auto;
        display: block;
        position: relative;
        height: calc(42vw - 2px);
        width: auto;
        max-width: calc(42vw - 2px);
    }

    .vid {
        object-fit: contain;
        margin: 0 auto;
        display: block;
        position: relative;
        height: calc(42vw - 2px);
        width: auto;
        max-width: calc(42vw - 2px);
    }

    .g-item.img-fluid {
        max-height: calc(42vw - 2px) !important;
    }
}

@media screen and (max-width: 480px) {
    .bg-t-360 {
        width: 0;
        height: 0;
        visibility: hidden !important;
    }
}

.ft {
    max-height: 80vh;
    max-width: 80vw;
}