<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>DBooru</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  {% block imports %}{% endblock imports %} {% block style %}{% endblock style
    %}
</head>
{% block content %}{% endblock content %}
{% block scripts %}{% endblock scripts %}
<script>
  document.onkeydown = function (e) {
    if (e.keyCode === 39 && e.target.className != "form-control") {
      xhr = new XMLHttpRequest();
      body = String(window.location).split("/");
      body = body[body.length - 1]
      xhr.open("GET", "/previous/" + body, true);
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 200) {
          window.location = "/image/" + xhr.responseText;
        } else if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 404) {
          i = 1;
        }
      };
    }
    if (e.keyCode === 37 && e.target.className != "form-control") {
      xhr = new XMLHttpRequest();
      body = String(window.location).split("/");
      body = body[body.length - 1]
      xhr.open("GET", "/next/" + body, true);
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 200) {
          window.location = "/image/" + xhr.responseText;
        } else if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 404) {
          i = 1;
        }
      };
    }
    if (e.keyCode === 82 && e.target.className != "form-control" && e.target.id != 'inp') {
      rand_img();
    }
  };

  function rand_img() {
    window.location = '/random'
  }

  function update_datalist() {
    document.getElementById('search').innerHTML = '';
    phrase = this.value;
    phrase = phrase.split(",");
    prev = phrase.slice(0, phrase.length - 1)
    phrase = phrase[phrase.length - 1].trim();
    if (phrase.length >= 2) {
      xhr = new XMLHttpRequest();
      xhr.open("GET", '/predict?phrase=' + phrase, true);
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          JSON.parse(xhr.response).forEach(element => {
            tmp = prev + element;
            document.getElementById('search').innerHTML += "<option value='" + tmp + "'>" + tmp + "</option>";
          });
        }
      };
    } else {
      i = 0;
    }
  }
  document.getElementById('inp').addEventListener('input', update_datalist)
</script>

</html>