
{% extends 'base.html' %}

{% block imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='misc.css') }}" />
<script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
{% endblock imports %}

{% block content %}
<body class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <form action="/search">
        <div class="input-group">
          <span class="input-group-prepend">
            <button type="button" class="btn btn-primary" onclick="window.location = '/'">
              Home
            </button>
          </span>
          <input type="text" name="q" class="form-control" id="inp" autocomplete="off" list="search" value="{{query}}"
            placeholder="Search something" />
          <span class="input-group-append bg-t-360 hide_on_phone">
            <button type="button" class="btn btn-submit btn-primary" onclick="rand_img()">
              Random image
            </button>
          </span>
          <span class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
          </span>
        </div>
        <input name="page" value="1" style="visibility: hidden; width: 0; height: 0" />
      </form>
    </div>
  </div>
  <div>
    <div align="center">
      {% if image[0].endswith('.webm') %}
      <video class="img img-fluid" preload="auto" autoplay controls muted loop>
        <source src="/raw/{{ image[-2] + image[0] }}" />
      </video>
      {% else %}
      <img src="/raw/{{ image[-2] + image[0] }}" class="ft" id="image" onclick="sw()" />
      {% endif %}<br />
    </div>
    <div align="center">
      <button class="btn btn-primary" onclick="dl('{{ image[-2] + image[0] }}')">
        Download
      </button>
      <button class="btn btn-primary" id="open" onclick="view('{{ image[-2] + image[0] }}')">
        View
      </button>
      <button class="btn btn-primary" onclick="dcdn('{{ image[-3] }}')">
        View on CDN
      </button>
      <button class="btn btn-primary" data-clipboard-text="{{ image[-3] }}" id="clip">
        Copy CDN link
      </button>
    </div>
    <div>
      <h3>
        Tags: {% for i in image[1].split(',,')[1:-2] %}
        <a href="/search?q={{ i }}&page=1">{{ i }}</a>, {% endfor %} <a
          href="/search?q={{ image[1].split(',,')[-2] }}&page=1">{{ image[1].split(',,')[-2] }}</a>
      </h3>
    </div>
  </div>
  <datalist id="search" style="display: none"></datalist>
</body>
{% endblock content %}

{% block scripts %}
<script type="application/javascript">
  var btn = document.getElementById("clip");
  var clipboard = new Clipboard(btn);

  function view(id) {
    location.href = "/raw/" + id;
  }
  function dl(id) {
    var a = document.createElement("a");
    a.style.display = "none";
    a.href = "/dl/" + id;
    a.setAttribute("download", id);
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    delete a;
  }
  
  function dcdn(link) {
    win = window.open(link, "_blank");
    win.focus();
  }

  function sw() {
    var img = document.getElementById("image");
    img.classList.toggle("img");
    img.classList.toggle("img-fluid");
    img.classList.toggle("ft");
  }

  document.onkeydown = function (e) {
    if ( (e.keyCode === 39 || e.keyCode === 37) && e.target.className != "form-control") {
      xhr = new XMLHttpRequest();
      body = String(window.location.pathname).split("/");
      body = body[body.length - 1] + "?q=" + document.getElementById("inp").value
      if (e.keyCode === 39 && e.target.className != "form-control") {
        xhr.open("GET", "/previous/" + body, true); 
      } else if ( e.keyCode === 37 && e.target.className != "form-control" ) {
        xhr.open("GET", "/next/" + body, true);
      }
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 200) {
          window.location = "/image/" + xhr.responseText;
        } else if (xhr.readyState === XMLHttpRequest.DONE && xhr.status == 404) {
          i = 1;
        }
      };
    }
    if (e.keyCode === 82 && e.target.className != "form-control" && e.target.id != 'inp') {
      rand_img();
    }
  };
</script>
{% endblock scripts %}