{% extends 'base.html' %} {% block content %}
<body>
  <div class="container-fluid">
    <div align="center" style="margin-top: 22%">
      <form action="/search">
        <div class="form-group input-group">
          <input
            type="text"
            class="form-control form-control-lg"
            id="inp"
            list="search"
            autocomplete="off"
            name="q"
            placeholder="Search something"
          />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-lg btn-info">Search</button>
          </span>
        </div>
        <input
          name="page"
          value="1"
          style="visibility: hidden; width: 0; height: 0"
        />
        <button
          type="button"
          class="btn btn-submit btn-info"
          onclick="update_db()"
          id="upd_btn"
        >
          Update DB
        </button>
        <a href="/random">
          <button type="button" class="btn btn-submit btn-info">
            Random image
          </button></a
        >
      </form>
    </div>
  </div>
</body>
<datalist id="search" style="display: none"></datalist>
{% endblock content %} {% block scripts %}
<script type="application/javascript">
  function update_db() {
    xhr = new XMLHttpRequest();
    xhr.open("GET", "/update", true);
    xhr.send();
    xhr.onreadystatechange = function(e) {
      if (xhr.status === 200) {
        document.getElementById("upd_btn").classList.remove("btn-info");
        document.getElementById("upd_btn").classList.add("btn-success");
      } else if (xhr.status === 409) {
        document.getElementById("upd_btn").classList.remove("btn-info");
        document.getElementById("upd_btn").classList.add("btn-danger");
      }
    };
  }
</script>
{% endblock scripts %}
